<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{{#if h1}}{{ title }}{{else}}{{ title }} - Resolve.rs{{/if}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/style.css?{{build_id}}" />
    <script src="/js/jquery-3.5.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{#if rootMeta}}<script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "Organization",
      "url": "https://resolve.rs/",
      "logo": "https://resolve.rs/images/logo512.png"
    }
    </script>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="description" content="DNS and networking testing and troubleshooting tools, including IP geolocation and a list of open DNS resolvers." />{{/if}}
    <meta name="referrer" content="unsafe-url" />
    {{#if rssUrl}}
    <link rel="alternate" type="application/rss+xml" title="RSS" href="{{rssUrl}}" />{{/if}}
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div>
  <a class="navbar-brand fw-bold" href="/">
    <img src="/favicon.svg" width="36" height="36" class="d-inline-block align-top me-2" alt="Resolve.rs Logo">
    Resolve.rs
  </a>
  <!--
  <span class="navbar-text">
    Navbar text with an inline element
  </span>
  -->
  </div>
    <div class="navbar-nav d-flex flex-row justify-content-end">
      <a class="nav-link me-3" href="/resolvers/index.html"><span class="d-none d-md-inline">Open Resolvers </span><span class="d-md-none">List</span></a>
      <a class="nav-link me-3" href="/tools.html">Tools</a>
      <a class="nav-link me-3" href="/tlds/index.html">TLDs</a>
      <a class="nav-link me-3" href="/psl/index.html">PSL</a>
    </div>
  </div>
</nav>
<div class="container pt-3">
  <h1 class="fw-bold">{{#if titleimg}}<img class="pe-3" src="{{titleimg}}" style="height:2.1rem;vertical-align:baseline;" />{{/if}}{{#if h1}}{{ h1 }}{{else}}{{ title }}{{/if}}</h1>
  <hr/>
  {{flash ctx}}

