<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>{{#if h1}}{{ title }}{{else}}{{ title }} - Resolve.rs{{/if}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <script src="/js/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <style>
    .social-footer {
        max-height: 20pt;
        margin: 4pt;
    }
  </style>
</head>
<body>
<nav class="navbar navbar-light bg-light">
  <div class="container">
    <div>
  <a class="navbar-brand font-weight-bold" href="/">
    <img src="/favicon.svg" width="36" height="36" class="d-inline-block align-top mr-2" alt="Resolve.rs Logo">
    Resolve.rs
  </a>
  <!--
  <span class="navbar-text">
    Navbar text with an inline element
  </span>
  -->
  </div>
    <div class="navbar-nav d-flex flex-row justify-content-end">
      <a class="nav-link mr-3" href="/resolvers/index.html"><span class="d-none d-md-inline">Open Resolvers </span><span class="d-md-none">List</span></a>
      <a class="nav-link" href="/tools.html">Tools</a>
  </div>
  </div>
</nav>
<div class="container pt-3">
  <h1 class="font-weight-bold">{{#if titleimg}}<img class="pr-3" src="{{titleimg}}" style="height:2.1rem;vertical-align:baseline;" />{{/if}}{{#if h1}}{{ h1 }}{{else}}{{ title }}{{/if}}</h1>
  <hr/>
  {{flash ctx}}

