{{> above}}
{{#if urls}}

<h2>Results</h2>

<table class="table table-striped border-bottom">
    <thead>
        <tr>
            <th>URL</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
        {{#each urls}}
        <tr>
            <td><a href="https://{{this}}/">{{this}}</a></td>
            <td id="csp-{{@index}}">
                <img alt="spinner" src="/images/spinner.svg" style="height:24pt;" title="Loading..." />
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
<script>

    function cspCheck(url, el) {
            $.ajax({
                cache: 'no-cache',
                data: { url },
                dataType: 'jsonp',
                error: function (xhr, status, err) {
                    $(el).empty()
                        .append($("<img>").attr("src", "/images/16x16/cross-circle.png").addClass("pe-2"))
                        .append($("<span>").text("server error"));
                },
                method: "GET",
                success: function (data, status, xhr) {
                    console.log("data=" + JSON.stringify(data));
                    if (!data.success) {
                        $(el).empty()
                            .append($("<img>").attr("src", "/images/16x16/cross-circle.png").addClass("pe-2"))
                            .append($("<span>").text(data.message));
                    }
                    else {
                        $(el).empty()
                            .append($("<span>").text(data.cspHeader || "(not set)"));
                        if (data.reportOnly) {
                            $(el).append($("<span>").addClass("badge bg-info").text("report-only"));
                        }
                    }
                },
                timeout: 15000,
                url: '/http/csp-check.json'
            });
        }
    $(function () {
        {{#each urls }}
        cspCheck("{{this}}", "#csp-{{@index}}");
        {{/each}}
    });
</script>

<h2>Try Again</h2>
{{else}}
<div class="alert alert-info">
    Shows the <code>Content-Security-Policy</code> (CSP) header for multiple urls.
</div>
{{/if}}
<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters">
        <div class="col-12 col-md-7 col-lg-6 py-8 py-md-11">
            <form action="bulk-csp-check.html" class="mb-6" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="urls">
                        URLs
                    </label>
                    <textarea class="form-control" id="urls" name="urls" rows="{{rows}}">{{urlsInput}}</textarea>
                </div>
                <div class="d-grid mb-3">
                    <button class="btn btn-primary" type="submit">
                        Check
                    </button>
                </div>
            </form>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
{{> below}}
