{{> above}}
{{#if urls}}

<h2>Results</h2>

<table class="table table-striped border-bottom">
    <thead>
        <tr>
            <th>URL</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
{{#each urls}}
        <tr>
            <td>{{this}}</td>
            <td id="floc-{{@index}}">
                <img alt="spinner" src="/images/spinner.svg" style="height:24pt;" title="Loading..." />
            </td>
        </tr>
{{/each}}
    </tbody>
</table>
<script>
    function flocCheck(url, el) {
        $.ajax({
            cache: 'no-cache',
            data: { url },
            dataType: 'jsonp',
            error: function (xhr, status, err) {
                $(el).empty()
                    .append($("<img>").attr("src", "/images/16x16/cross-circle.png").addClass("pr-2"))
                    .append($("<span>").text("server error"));
            },
            method: "GET",
            success: function (data, status, xhr) {
                console.log("data=" + JSON.stringify(data));
                const details = $("<details>");
                const summary = $("<summary>");
                if (!data.success) {
                    summary
                        //.append($("<img>").attr("src", "/images/16x16/exclamation-red.png").addClass("pr-2"))
                        .append($("<span>").text(data.message));
                }
                else {
                    summary
                        //.append($("<img>").attr("src", "/images/16x16/tick.png").addClass("pr-2"))
                        .append($("<span>").text(data.message));
                }
                $(el).empty()
                    .append($("<details>")
                        .append(summary)
                        .append($("<pre>").text(JSON.stringify(data, null, 2)))
                        );
            },
            timeout: 15000,
            url: '/http/floc-check.json'
        });
    }

    $(function() {
{{#each urls}}
        flocCheck("{{this}}", "#floc-{{@index}}");
{{/each}}
    });
</script>

<h2>Try Again</h2>
{{else}}
<div class="alert alert-info">
    FLoC is <a class="alert-link" href="https://en.wikipedia.org/wiki/Federated_Learning_of_Cohorts">Federated Learning of Cohorts</a>.  It is a type of web tracking that is supposedly less invasive.<br/><br/>
    A website can choose not to help by setting an HTTP header, which is what this check shows.
</div>
{{/if}}
<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters">
        <div class="col-12 col-md-7 col-lg-6 py-8 py-md-11">
            <form action="floc-check.html" class="mb-6" method="POST">
                <div class="form-group">
                    <label for="urls">
                        URLs
                    </label>
                    <textarea class="form-control" id="urls" name="urls" rows="{{rows}}">{{urlInput}}</textarea>
                </div>
                <button class="btn btn-block btn-primary" type="submit">
                    Check
                </button>

            </form>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
{{> below}}
