{{> above}}

<div class="d-flex flex-wrap">

  <div class="card col-lg-3 col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">My DNS Resolver</h5>
      <p class="card-text">text</p>
    </div>
    <div class="card-footer">
      <a href="{{this.key}}/index.html">More...</a>
    </div>
  </div>

  <div class="card col-lg-3 col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">My IP Address</h5>
      <p class="card-text">{{current_ip}}<br/>Reverse DNS: {{reverse_ip}}</p>
    </div>

  </div>

  <div class="card col-lg-3 col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Open DNS Resolvers</h5>
      <p class="card-text">You do not have to use your ISP's DNS resolver.  Here are some alternatives
          that may better suit your needs.
      </p>
    </div>
    <div class="card-footer">
      <a href="/resolvers/index.html">More...</a>
    </div>
  </div>

  <div class="card col-lg-3 col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">DNS Lookups</h5>
      <p class="card-text">Lookup a hostname across all the open resolvers</p>
    </div>
    <div class="card-footer">
      <a href="/dns-lookup.html">More...</a>
    </div>
  </div>

  <div class="card col-lg-3 col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Reverse DNS Lookup</h5>
      <p class="card-text">Given an address, find the corresponding hostname</p>
    </div>
    <div class="card-footer">
      <a href="/reverse-dns-lookup.html">More...</a>
    </div>
  </div>

  <div class="card col-lg-3 col-md-5 col-11 m-3 p-0">
    <div class="card-body">
      <h5 class="card-title text-center">Advanced DNS Lookup</h5>
      <p class="card-text">Detailed results from a given DNS resolvers with a
          specific lookup protocol.
      </p>
    </div>
    <div class="card-footer">
      <a href="{{this.key}}/index.html">More...</a>
    </div>
  </div>

</div>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>Your current IP address</td>
            <td></td>
        </tr>
        <!--
        <tr>
            <td>Reverse DNS for {{current_ip}}</td>
            <td id="reversedns">
                <img alt="spinner" src="/images/spinner.svg" style="height:24pt;" title="Loading reverse DNS info" />
            </td>
        </tr>
        -->
        <tr>
            <td>Your current DNS server</td>
            <td id="currentdns">
                <img alt="spinner" src="/images/spinner.svg" style="height:24pt;" title="Loading current DNS server info" />
            </td>
        </tr>
    </tbody>
</table>

<script>
$(function() {
    const dnsPromise = fetch(`http://4.${Math.floor(Math.random() * 1000000000).toString()}.dns.whatsmydnsserver.com/api`, {
        mode: 'cors',
        cache: 'no-cache',
    });
    dnsPromise.then( async (resp) => {
        console.log(JSON.stringify(resp));
        console.log(resp);
        const data = await resp.json();
        console.log(data);
        console.log(JSON.stringify(data));
        $('#currentdns').text(`${data.dnsServerInfoArray[0].ipAddress.isp} (${data.dnsServerInfoArray[0].ipAddress.ipAddress})`);
    });
});

</script>
{{> below}}
