{{> above}}

<div class="container">
{{this.description}}
</div>

<table class="table table-striped">
    <tbody>
        <tr>
            <td>Name</td>
            <td>{{resolver.name}}</td>
        </tr>
        {{#if resolver.tags}}
        <tr>
            <td>Tags</td>
            <td>
                {{#each resolver.tags}}
                <!--<a class="badge badge-secondary p-1" href="{{this}}">{{this}}</a>-->
                <span class="badge badge-secondary p-1">{{this}}</span>
                {{/each}}
            </td>
        </tr>
        {{/if}}
        <tr>
            <td>Website</td>
            <td><a href="{{resolver.url}}">{{resolver.url}}</a></td>
        </tr>
        {{#if resolver.social}}
        <tr>
            <td>Social media</td>
            <td>
            {{#each resolver.social}}
                <a class="pe-2" href="{{this}}">{{@key}}</a>
            {{/each}}
            </td>
        </tr>
        {{/if}}
        <tr>
            <td>Company</td>
            <td>{{resolver.company}}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>
            {{#if resolver.location}}
            <img alt="{{resolver.location}}" src="/images/flags/{{toUpper resolver.location}}.png" style="height:20pt;" title="{{resolver.location}}" />
            {{else}}
            <i>(unknown)</i>
            {{/if}}
            </td>
        </tr>
        {{#each resolver.config}}
        <tr>
            <td colspan="2"><h3>{{@key}}</h3></td>
        </tr>
        {{#if this.ipv4}}
        <tr>
            <td>IP v4</td>
            <td>{{arrayToHtml this.ipv4}}</td>
        </tr>
        {{/if}}
        {{#if this.ipv6}}
        <tr>
            <td>IP v6</td>
            <td>{{arrayToHtml this.ipv6}}</td>
        </tr>
        {{/if}}
        {{#if this.dot}}
        <tr>
            <td>DNS-over-TLS (DoT)</td>
            <td>{{this.dot}}</td>
        </tr>
        {{/if}}
        {{#if this.doh}}
        <tr>
            <td>DNS-over-HTTPS (DoH)</td>
            <td>{{this.doh}}</td>
        </tr>
        {{/if}}
        {{/each}}
    </tbody>
</table>

<h2>Test {{resolver.name}}</h2>

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters">
        <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
            <form action="index.html" class="mb-6" method="POST">
                <div class="mb-3">
                    <label class="form-label" for="hostname">
                        Host name
                    </label>
                    <input type="text" class="form-control" id="hostname" name="hostname" placeholder=""
                        value="{{hostname}}" />
                </div>
                <div class="d-grid mb-3">
                    <button class="btn btn-primary" type="submit">
                        Check
                    </button>
                </div>
            </form>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->


{{> below}}
