{{> above}}
<div class="d-flex flex-wrap">
  {{#each resolvers }}
  <div class="card m-4" style="width:18rem;">

    <a href="{{this.key}}/index.html" title="{{this.name}}"><img alt="{{this.name}}" class="card-img-top" src="{{this.logo}}"></a>

    <div class="card-body">

      <h5 class="card-title text-center">{{this.name}}</h5>

      <p class="card-text">{{#equals this.description "LATER"}}{{else}}{{this.description}}{{/equals}}</p>

    </div>

    <div class="card-footer">
      <a href="{{this.key}}/index.html">More...</a>
      <small class="text-muted"><!-- LATER: tags -->
      </small>
      {{#if this.location}}
      <img alt="{{this.location}}" class="float-right" src="/images/flags/{{this.location}}.png" style="height:20pt;" title="{{this.location}}" />
      {{/if}}
    </div>
  </div>
  {{/each}}
  </div>
{{> below}}
