{{> above}}
{{#if domains}}

<h2>Results</h2>

<table class="table table-striped border-bottom">
    <thead>
        <tr>
            <th>Domain</th>
            <th>Result</th>
        </tr>
    </thead>
    <tbody>
{{#each domains}}
        <tr>
            <td>{{this}}</td>
            <td id="domain-{{@index}}">
                <img alt="spinner" src="/images/spinner.svg" style="height:24pt;" title="Loading..." />
            </td>
        </tr>
{{/each}}
    </tbody>
</table>
<script>
    function mxCheck(domain, el) {
        $.ajax({
            cache: 'no-cache',
            data: { domain },
            dataType: 'jsonp',
            error: function (xhr, status, err) {
                $(el).empty()
                    .append($("<img>").attr("src", "/images/16x16/cross-circle.png").addClass("pr-2"))
                    .append($("<span>").text("server error"));
            },
            method: "GET",
            success: function (data, status, xhr) {
                console.log("data=" + JSON.stringify(data));
                if (!data.success) {
                    $(el).empty()
                        .append($("<img>").attr("src", "/images/16x16/exclamation-red.png").addClass("pr-2"))
                        .append($("<span>").text(data.message));
                }
                else {
                    $(el).empty()
                        //.append($("<img>").attr("src", "/images/16x16/tick.png").addClass("pr-2"))
                        .append($("<details>")
                            .append($("<summary>").text(data.message))
                            .append($("<pre>").text(JSON.stringify(data.mailservers, null, 2)))
                        );
                }
            },
            timeout: 15000,
            url: '/dns/mx-check.json'
        });
    }

    $(function() {
{{#each domains}}
        mxCheck("{{this}}", "#domain-{{@index}}");
{{/each}}
    });
</script>

<h2>Try Again</h2>
{{else}}
<div class="alert alert-info">
    DNS <b>MX</b> records are used to locate your email servers. <!--LATER: link to wikipedia/etc. -->
</div>
{{/if}}
<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters">
        <div class="col-12 col-md-7 col-lg-6 py-8 py-md-11">
            <form action="mx-check.html" class="mb-6" method="POST">
                <div class="form-group">
                    <label for="domains">
                        Domains
                    </label>
                    <textarea class="form-control" id="domains" name="domains" rows="{{rows}}">{{domainInput}}</textarea>
                </div>
                <button class="btn btn-block btn-primary" type="submit">
                    Check
                </button>
            </form>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
{{> below}}