<?xml version="1.0" encoding="UTF-8"?>
<rss version="2.0" xmlns:atom="http://www.w3.org/2005/Atom">
    <script src="https://www.rss.style/js/rss.js" xmlns="http://www.w3.org/1999/xhtml"></script>
    <channel>
        <title>{{name}}</title>
        <link>https://resolve.rs{{home}}</link>
        <description>{{description}}</description>
        <language>en-us</language>
        <lastBuildDate>{{pubDate}}</lastBuildDate>
        <pubDate>{{pubDate}}</pubDate>
        <docs>https://validator.w3.org/feed/docs/rss2.html</docs>
        <generator>https://github.com/redirect2me/resolvers</generator>
        <atom:link href="https://resolve.rs{{path}}/rss.xml" rel="self" type="application/rss+xml" />
        <ttl>1440</ttl>
        {{#each data}}
        <item>
            <title>{{this.count}} Changes on {{date}}</title>
            <link>https://resolve.rs{{../path}}/{{this.date}}.html</link>
            <description>{{this.raw}}</description>
            <pubDate>{{toRFC2822 this.date}}</pubDate>
            <guid isPermaLink="true">https://resolve.rs{{../path}}/{{this.date}}.html</guid>
        </item>
        {{/each}}
    </channel>
</rss>
