{{> above}}

<div class="alert alert-info">
    <a class="alert-link" href="https://www.heroku.com/">Heroku</a> generates random names for customer IDs that are oddly poetic and much better than random numbers/strings.
    This is an online generator that makes similar names using the <a class="alert-link" href="https://github.com/Atrox/haikunatorjs">Haikunator</a> library.
</div>

<div class="row pt-3 pb-5">
    <div class="col">
        {{#equals names.length  1}}
        Your generated name is: <b class="ml-2">{{names.[0]}}</b>
        {{else}}
        Your generated names are:
        <ul>
            {{#each names}}
            <li>{{this}}</li>
            {{/each}}
        </ul>
        {{/equals}}
        <!-- LATER: copy to clipboard -->
    </div>
</div>

<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters">
        <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
            <form action="haikunator.html" class="mb-6" method="GET">
                <div class="form-group">
                    <label for="delimiter">
                        Delimiter
                    </label>
                    <input type="text" class="form-control" id="delimiter" name="delimiter" placeholder="" value="{{delimiter}}" />
                </div>
                <div class="form-group">
                    <label for="tokenLength">
                        Token length
                    </label>
                    <input type="text" class="form-control" id="tokenLength" name="tokenLength" placeholder="" value="{{tokenLength}}" />
                </div>
                <div class="form-group">
                    <label for="tokenChars">
                        Characters for token
                    </label>
                    <input type="text" class="form-control" id="tokenChars" name="tokenChars" placeholder="" value="{{tokenChars}}" />
                </div>
                <div class="form-group">
                    <label for="count">How many
                    </label>
                    <input type="text" class="form-control" id="count" name="count" placeholder="" value="{{count}}" />
                </div>
                <button class="btn btn-block btn-primary" type="submit">
                    Generate
                </button>

            </form>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->

{{> below}}
