{{>above}}

<div class="alert alert-info">
    This report compares the list of top-level domains in
    <a class="alert-link" href="/domains/tlds.html">ICANN</a> (which is the official list) versus
    the <a class="alert-link" href="https://github.com/7c/whoisserver-world">7c/whoisserver-world</a>.
</div>

<h2>ICANN but not in whoisserver-world</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Domain</th>
            <th>Punycode</th>
            <th>Transliteration</th>
        </tr>
    </thead>
    <tbody>
{{#each icannOnly}}
        <tr>
            <td><a href="/tlds/{{this}}/index.html">{{this}}</a></td>
            <td>{{toPunycode this}}</td>
            <td>{{transliterate this}}</td>
        </tr>
{{else}}
        <tr>
            <td colspan="3"><i>(none)</i></td>
        </tr>
{{/each}}
    </tbody>
</table>

<h2>whoisserver-world but not ICANN</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Domain</th>
            <th>Punycode</th>
            <th>Transliteration</th>
        </tr>
    </thead>
    <tbody>
{{#each wswOnly}}
        <tr>
            <td><a href="/tlds/{{this}}/index.html">{{this}}</a></td>
            <td>{{toPunycode this}}</td>
            <td>{{transliterate this}}</td>
        </tr>
{{else}}
        <tr>
            <td colspan="3"><i>(none)</i></td>
        </tr>
{{/each}}
    </tbody>
</table>
{{>below}}