{{> above}}

{{#if hostname}}
<h2>Results for {{hostname}}</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Domain</th>
            <th>Punycode</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Public suffix</td>
            <td>{{get}}</td>
        </tr>
        <tr>
            <td>parsed.tld</td>
            <td>{{parsed.tld}}</td>
        </tr>
        <tr>
            <td>parsed.sld</td>
            <td>{{parsed.sld}}</td>
        </tr>
        <tr>
            <td>parsed.domain</td>
            <td>{{parsed.domain}}</td>
        </tr>
        <tr>
            <td>parsed.subdomain</td>
            <td>{{parsed.subdomain}}</td>
        </tr>
    </tbody>
</table>
<hr/>
{{/if}}
<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters">
        <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
            <form action="publicsuffix.html" class="mb-6" method="POST">

                <div class="form-group">
                    <label for="hostname">
                        Host name
                    </label>
                    <input type="text" class="form-control" id="hostname" name="hostname" placeholder="" value="{{hostname}}" />
                </div>
                <button class="btn btn-block btn-primary" type="submit">
                    Check
                </button>

            </form>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->
{{> below}}