{{> above}}

<div class="alert alert-info">
    RDAP is the replacement for WHOIS.  This is various information I have gathered on available RDAP servers
</div>

<p>
  <a class="btn btn-outline-primary" href="rdap-missing.html">Missing and unofficial RDAP server report</a>
</p>

<p>
  Working list available as in <a href="rdap.json?pretty=true">JSON</a>.
</p>

<table class="table table-bordered table-striped">
  <thead>
    <tr>
      <th>Top Level Domain</th>
      <th>RDAP</th>
      <th>Notes</th>
    </tr>
  </thead>
  <tbody>
{{#each list}}
    <tr id="rdap-{{this.unicode}}">
      <td><a href="/tlds/{{this.unicode}}/index.html">{{this.unicode}}</a></td>
      <td>{{this.rdap}}</td>
      <td>
        {{#unless this.official}}
          {{#unless this.working}}
            <span class="badge text-bg-danger">not working</span>
          {{else}}
            <span class="badge text-bg-success">unofficial</span>
          {{/unless}}
        {{/unless}}
        {{this.notes}}
      </td>
    </tr>
{{/each}}
  </tbody>
</table>


{{> below}}