{{> above}}

<div class="alert alert-info">
    This comes from the Mozilla <a class="alert-link" href="https://publicsuffix.org/">PublicSuffixList</a>.
    It is calculated by looking at the last component of every entry in the list.
    It can be <a class="alert-link" href="icann-vs-psl.html">slightly different</a>
    from the official <a class="alert-link" href="tlds.html">ICANN list</a>.
    <!-- LATER: last updated -->
</div>

<div class="row mb-2">
    <div class="col">
        Count: {{integerFormat domains.length}} top-level domains, {{integerFormat total}} public suffixes
    </div>
    <div class="col text-end">
        <a class="ms-2 btn btn-sm btn-outline-primary" href="test.html">Test</a>
        <a class="ms-2 btn btn-sm btn-outline-primary" href="changelog/index.html">ChangeLog</a>
    </div>
</div>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th class="w-25">Top Level Domain</th>
            <th class="w-75">Public Suffixes</th>
        </tr>
    </thead>
    <tbody>
        {{#each domains}}
        <tr>
            <td><a href="/tlds/{{this}}/index.html">{{this}}</a>{{#ifDomainUnicode this}} ({{toPunycode this}}){{/ifDomainUnicode}}</td>
            <td><details>
                <summary>{{length (get ../psl this) }}</summary>
                    {{#each (get ../psl this)}}
                    {{this}}<br/>
                    {{/each}}
            </details></td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{> below}}
