{{> above}}

{{#if parsed}}
<h2>Results for {{q}}</h2>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Domain</th>
            <th>Punycode</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Public suffix</td>
            <td>{{get}}</td>
        </tr>
        <tr>
            <td>parsed.tld</td>
            <td><a href="/tlds/{{parsed.tld}}/index.html">{{parsed.tld}}</a></td>
        </tr>
        <tr>
            <td>parsed.sld</td>
            <td>{{parsed.sld}}</td>
        </tr>
        <tr>
            <td>parsed.domain</td>
            <td>{{parsed.domain}}</td>
        </tr>
        <tr>
            <td>parsed.subdomain</td>
            <td>{{parsed.subdomain}}</td>
        </tr>
    </tbody>
</table>
<hr/>
{{/if}}
<div class="container d-flex flex-column">
    <div class="row align-items-center justify-content-center no-gutters">
        <div class="col-12 col-md-5 col-lg-4 py-8 py-md-11">
            <form action="test.html" class="mb-6" method="GET">
                <div class="mb-3">
                    <label class="form-label" for="q">
                        Host name
                    </label>
                    <input type="text" class="form-control" id="q" name="q" placeholder="" value="{{q}}" />
                </div>
                <div class="d-grid mb-3">
                    <button class="btn btn-primary" type="submit">
                        Check
                    </button>
                </div>
            </form>
        </div>
    </div> <!-- / .row -->
</div> <!-- / .container -->

<div class="row">
    <div class="col">
        <a class="btn btn-sm btn-outline-primary" href="index.html">Public Suffix List</a>
    </div>
    <div class="col text-end">
        <a class="btn btn-sm btn-outline-primary" href="https://www.npmjs.com/package/psl">npm: psl</a>
    </div>
</div>
{{> below}}